.hourly-container {
    padding: 10px 20px 10px 20px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    gap: 10px;

    background: #272f3d;
    border-radius: 20px;

    /*border: solid;  /*to be deleted*/
}

.item {
  border-right: 1px solid rgba(255,255,255,0.2);
}

.item:last-child {
  border-right: none;
}


.item p {
    color: rgb(133, 132, 132);
    font-weight: bold;
}

.item #temp {
    color: white;
    font-size: 20px; 
}


.cont-img {
    width: 50%;
    height: 50px;

    /*border: solid;  /*to be deleted*/
}

.cont-img img {
    width: 100%;
    height: 100%;
}
