@if(forecast){
    <div class="forecast-Container">
        @for (item of forecast.days; track item.date) {
            <div class="day">
                <p class="day-item" id="date">{{item.date | date: 'EEE'}}</p>
                <div class="day-item" id="img-container">
                    <img src="{{item.icon}}" alt="weather icon" id="image">
                </div>
                <p class="day-item" id="description">{{item.description}}</p>
                <p class="day-item" id="temp">{{item.temperature}}°C</p>  
            </div> 
            <hr class="divider"> 
        }
    </div>  
}