<footer>
    <div class="footer_container">
        <hr class="divider">
        <div class="footer_links">
            <div class="footer_link-wrapper">
                <div class="footer_links-iterms">
                    <h2>About Us</h2>
                    <a href="/">Contact</a>
                    <a href="/">Terms of Service</a>
                </div>
                <div class="footer_links-iterms">
                    <h2>Contact Us Us</h2>
                    <a href="/">Support</a>
                    <a href="/">Sponsorship</a>
                    <a href="/">Contact</a>                
                </div>
                <div class="footer_links-iterms">
                    <h2>Social Media</h2>
                    <a href="/">FaceBook</a>
                    <a href="/">Instagram</a>
                    <a href="/">Twitter</a>
                </div>
            </div>
        </div>
        <div class="social_media">
            <div class="social_media-wrap">
                <div class="footer_logo">
                    <a href="/" id="footer_logo">Simplicity</a>
                </div>
                <p class="website_rights">&copy;Malvin Runhare 2026. All rights reserved
                </p>
                <div class="social_icons">
                     <a href="/" class="social_icon-link" target="_blank">
                            <i class="fa-brands fa-x-twitter"></i>
                     </a>
                      <a href="/" class="social_icon-link" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                      </a>
                       <a href="/" class="social_icon-link" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                       </a>
                    
                    
                   
                </div>
            </div>
        </div>
    </div>
</footer>