<div class="home-container">

    <!--LEFT SIDE -->
    <div class="main-column">
        <!--Search component-->
        <app-search (citySearch)="searchedCity($event)"></app-search>

        <!--Loading spinner-->
        @if (loading) {
            <p>Loading...</p>
        }

        <!--Current Weather-->
        @if (currentWeather) {
            <app-current-weather [weather]="currentWeather"></app-current-weather>
        }

        <!--Hourly Forecast-->
        @if (hourlyForecast) {
            <app-hourly-forecast [hourlyForecast]="hourlyForecast"></app-hourly-forecast>
        }

        <!--Error message-->
        @if (errorMessage) {
            <p>{{ errorMessage }}</p>
        }

    </div>

    <!--RIGHT SIDE-->
    <div class="side-bar">
        <!--Weekly forecast-->
        @if (forecast) {
            <app-forecast [forecast]="forecast"></app-forecast>
        }
    </div>
   
</div>

