.home-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 100vh;
    border: solid;  /*to be removed*/
}

.main-column {
    flex: 2;
    border: solid;  /*to be removed*/
}

.side-bar {
    flex: 1;
    border: solid;  /*to be removed*/
}