.current-weather-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: auto;

    border: solid;  /*to be deleted*/
}

.container-one {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.in-brief {
    width: 50%;
}

.img-container {
    width: 50%;
    align-items: center;
}

.img-container img {
    width: 50%;
    height: 100%;
}

img {
    color: blue;
}


.container-two {
    background: #272f3d;
    height: auto;
    border-radius: 20px;
}

.container-two h4 {
    margin-left: 20px;
}

.weather-items {
    padding: 0 20px 0 20px;
    height: 220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item1 item2" 
        "item3 item4";
}

#item1 {
    grid-area: item1;
}

#item2 {
    grid-area: item2;
}

#item3 {
    grid-area: item3;
    height: 110px;
}

#item4 {
    grid-area: item4;
}
