.current-weather-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 100%;

    /*border: solid;  /*to be deleted*/
}


/*STYLING CONTAINER 1*/
.container-one {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.in-brief {
    width: 50%;
    /*border: solid;  /*to be deleted*/
}

h3 {
    font-size: 35px;
}

.Description {
    font-size: 20px;
    color: whitesmoke;
}

.Temperature {
    font-size: 35px;
}




.img-container {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: right;

    /*border: solid blue;  /*to be deleted*/
}

.img-container img {
    width: 50%;
    /*border: solid;  /*to be deleted*/
}










/*STYLING CONTAINER 2*/
.container-two {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    background: #272f3d;
    height: 100%;
    border-radius: 20px;
}

.container-two h4 {
    margin-left: 20px;
    color: rgb(133, 132, 132);
}

.weather-items {
    padding: 0 20px 0 20px;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item1 item2" 
        "item3 item4";

    /*border: solid green;    /*to be deleted*/
}

.weather-items p {
    color: rgb(133, 132, 132);
}
#item1 {
    grid-area: item1;
    height: 65px;
}

#item2 {
    grid-area: item2;
}

#item3 {
    grid-area: item3;
    /*height: 110px;*/
}

#item4 {
    grid-area: item4;
}

.weather-items .info {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.icon {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;

    border: solid;  /*to be deleted*/
}

.icon svg{
    padding-left: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

