
<div class="current-weather-container">
    @if (weather) {
        <div class="container-one">
            <div class="in-brief">
                <h3>{{weather.city}}</h3>
                <p class="Description">{{weather.description}}</p>
                <h4 class="Temperature">{{weather.temperature}}°</h4>
            </div>

            <div class="img-container">
                <img src="{{weather.icon}}" alt="weather icon">
            </div>
        </div>

        <div class="container-two">
            <h4>AIR CONDITIONS</h4>
            <div class="weather-items">
                <div id="item1">
                    <p>Real Feel</p>
                    <p>{{weather.temperature}}°C</p>
                </div>

                <div id="item2">
                    <p>Humiditiy</p>
                    <p>{{weather.humidity}}%</p>
                </div>

                <div id="item3">
                    <p>Windspeed</p>
                    <p>{{weather.windSpeed}} m/s</p>
                </div>

                <div id="item4">
                    <p>Description</p>
                    <p>{{weather.description}}</p>
                </div>
            </div>
           
        </div>   
    }
    
</div>