
<div class="current-weather-container">
    @if (weather) {
        <div class="container-one">
            <div class="in-brief">
                <h3>{{weather.city}}</h3>
                <p class="Description">{{weather.description}}</p>
                <h4 class="Temperature">{{weather.temperature}}°C</h4>
            </div>

            <div class="img-container">
                <img src="{{weather.icon}}" alt="weather icon">
            </div>
        </div>

        <div class="container-two">
            <h4>AIR CONDITIONS</h4>
            <div class="weather-items">
                <div id="item1">
                    <p>Real Feel</p>
                    <!--
                    <div class="icon">
                        
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">

                            
                            <defs>
                                <linearGradient id="thermoGradient" x1="0" y1="0" x2="0" y2="1">
                                    <stop offset="0%" stop-color="#e5e7eb"/>
                                    <stop offset="100%" stop-color="#374151"/>
                                </linearGradient>
                            </defs>

                            
                            <g fill="url(#thermoGradient)">
                            <path d="M60.6,64.4V15.1c0-5.7-4.6-10.3-10.3-10.3h-0.2c-5.7,0-10.3,4.6-10.3,10.3v49.2c-4.2,3.2-6.6,8.2-6.6,13.4
                                c0,9.4,7.6,17,17,17s17-7.6,17-17C67.2,72.6,64.8,67.6,60.6,64.4z"/>

                            <path d="M56.3,69.1l-2-1.4v-2.5V47.7l-8.1,0v17.5v2.5l-2,1.4c-2.9,2-4.6,5.3-4.6,8.7
                                c0,5.9,4.8,10.7,10.7,10.7c5.9,0,10.7-4.8,10.7-10.7C60.9,74.3,59.2,71.1,56.3,69.1z"/>
                            </g>

                        </svg>
                        <p>Real Feel</p>
                    </div>-->
                    <p class="info">{{weather.temperature}}°C</p>
                </div>

                <div id="item2">
                    <p>Humiditiy</p>
                    <p class="info">{{weather.humidity}}%</p>
                </div>

                <div id="item3">
                    <p>Windspeed</p>
                    <p class="info">{{weather.windSpeed}} m/s</p>
                </div>

                <div id="item4">
                    <p>Description</p>
                    <p class="info">{{weather.description}}</p>
                </div>
            </div>
           
        </div>   
    }
    
</div>