<form (ngSubmit)="search()" [formGroup]="userForm", class="_form", [class.mobile-layout]="isMobile()", [class.mobile-portrait]="isMobiPortrait()", [class.tablet-layout]="isTablet()">
    <div class="input-container" [class.mobile-layout]="isMobile()", [class.mobile-portrait]="isMobiPortrait()", [class.tablet-layout]="isTablet()">
        <input type="text" formControlName="city_name"  placeholder="Enter city name ...">
    </div>
    <button id="submitBtn" type="submit" [disabled]="userForm.invalid" [class.mobile-layout]="isMobile()", [class.mobile-portrait]="isMobiPortrait()", [class.tablet-layout]="isTablet()">Search</button>
</form>